.container{
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
   align-items: center;
   width: 100%;
}

.text {
    color:#8B8A8F ;
}

.boldBlack {
    color: black;
    font-weight: bold;
    cursor: pointer;
  }

  .svg {
    width: 1.3rem;
    height: 1.3rem;
    color:#8B8A8F ;
    
   
  }

  .svgBlack {
    color: black;
    width: 1.3rem;
    height: 1.3rem;
  }