/* Dashboard style  */

.container {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    width: 100%;
    margin: auto;
    height: 100vh;
    padding: 1%;
}

/*Side bar style section*/

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.sidebarIcons{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Main content Dashboard */

.mainContent{
    padding: 1.5%;
    display: flex;
    flex-direction: column;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleContainer h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

.titleContainer svg {
    width: 2rem;
    height: 2rem;
}

/* Chart style  */

